CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/out
/.vs
/.vscode
/example/mgui-rp2040/.vs
/example/mgui-rp2040/build
/example/mgui-rp2040/out/build/x64-Debug
/example/mgui-rp2040/.vscode
